<div class="header">
    <div class="row">
        <div class="col-sm-12 mt-1 mb-1">
            <p class="m-0">Welcome to Early Birds. We ship every Tuesday and Thursday. Free shipping above €25 in The
                Netherlands.</p>
        </div>
    </div>
</div>

<div class="bottom_nav">
    <div class="row">
        <div class="col-0 col-lg-5 nav_ul col-5">
            <ul>
                <li><a href="">Home</a> <img src="./assets/underline.png" alt=""> </li>
                <li><a href="">Pages</a><img src="./assets/underline.png" alt=""> </li>
                <li><a href="">Shop</a><img src="./assets/underline.png" alt=""> </li>
                <li><a href="">Blog</a><img src="./assets/underline.png" alt=""> </li>
            </ul>
        </div>
        <div class="col-6 col-lg-2 col-sm-2 log_img p-2">
            <img src="/assets/8a6e9acafd72c5334d790b587ae8d27d.png" alt="" width="145px">
        </div>
        <div class="col-4 col-lg-4 nav_ul_2 col-sm-4" style="display: flex;justify-content: flex-end; border-right: 1px solid black;">
            <ul>
                <li><a href="">cart(<span>0</span>)</a><img src="./assets/underline.png" alt=""> </li>
                <li><a href="">Search</a><img src="./assets/underline.png" alt=""> </li>
            </ul>
        </div>
        <div class="col-1 text-center p-2 mt-2 ">
            <img src="./assets/Frame.png" alt="" width="40px" height="35px">
        </div>

    </div>
</div>