<div class="wrapper">
  <div class="image">
    <div class="row">
      <div class="col-12  col-sm-5 col-lg-5  img_1">

      </div>
      <div class="col-12  col-sm-5 col-lg-5 img_2">
        <div class="col-sm-4 col-2">
          <img src="./assets/rev_log-png-3.png.png" alt="">
        </div>
        <div class="col-sm-6 col-6">
          <h1>ENJOY LIFE SIP BY SIP</h1>
        </div>
        <div class="col-sm-4 col-2" class="img_love">
          <img src="./assets/love_2.png.png" alt="">
        </div>
      </div>
      <div class="col-1 col-sm-1 col-lg-1 arrow_p">
        <div class="arrow">
          <img src="./assets/arrow_Frame.png" alt="">
        </div>
      </div>

    </div>
  </div>

  <div class="middle p-2">
    <div class="row">
      <div class="col-sm-12">
        <p class="m-0">fairtrade | Organic | Climate neutral</p>
      </div>
    </div>
  </div>
  <div class="product_main ">
    <div class="row">
      <div class="col-12 col-lg-6 col-ms-6 p-5" style="border-right: 1px solid black;">
        <div class="product">
          <p>Our blends deliver on the promise of balance and consistency,roasted to</p>
          <p>maximize sweetness.</p>
        </div>
        <p class="m-0 mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut</p>
        <p class="m-0">elit tellus, luctus nec ullamcorper.
        </p>
        <p style="font-weight: bold;margin-top: 14%;">View
          <img src="./assets/arrow_Frame.png" alt="" width="34">
        </p>
      </div>
      <div class="col-6 col-lg-3 col-md-3 p-4" style="border-right: 1px solid black;">
        <div class="image_product">
          <img src="./assets/H1-product-list-2.png.png" alt="" width="100%">
          <p>Arabica Bekele</p>
          <span>$44.00</span>
        </div>
      </div>
      <div class="col-6 col-lg-3 col-md-3 p-4" style="border-right: 1px solid black;">
        <div class="image_product">
          <img src="./assets/H1-product-list-t.png.png" alt="" width="100%">
          <p>Robusta santa</p>
          <span>$35.00</span>
        </div>
      </div>
    </div>
  </div>
  <div class="More_Coffe">
    <div class="row">
      <div class="col-sm-12">
        <div class="coffe_more_img">
        </div>

      </div>
    </div>
  </div>

  <div class="Another_Reaason">
    <div class="row">
      <div class="col-sm-6 content-scoller">
        <div id="carouselExampleCaptions" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-sm-12 d-flex" style="justify-content: center;">
                  <img src="./assets/start.png" alt="">
                  <img src="./assets/start.png" alt="">
                  <img src="./assets/start.png" alt="">
                  <img src="./assets/start.png" alt="">
                  <img src="./assets/start.png" alt="">
                  <img src="./assets/start.png" alt="">
                </div>
              </div>
              <p>"Another reason people just can't keep away from their local coffee shop is the quality of coffee
                that's on offer."</p>
              <div class="row">
                <div class="col-sm-12 text-center"
                  style="margin-top: 6%; color: #202020; font-size: 18px; font-weight: 400;">
                  <span>Henry Monro</span>
                </div>
              </div>
            </div>
            <!-- Add more carousel items with your content -->
            <div class="carousel-item">
              <div class="row">
                <div class="col-sm-12 d-flex" style="justify-content: center;">
                  <img src="./assets/start.png" alt="">
                  <img src="./assets/start.png" alt="">
                  <img src="./assets/start.png" alt="">
                  <img src="./assets/start.png" alt="">
                  <img src="./assets/start.png" alt="">
                  <img src="./assets/start.png" alt="">
                </div>
              </div>
              <p>"The inviting ambiance and friendly staff make your local coffee shop a comforting escape from the
                daily hustle and bustle."</p>
              <div class="row">
                <div class="col-sm-12 text-center"
                  style="margin-top: 6%; color: #202020; font-size: 18px; font-weight: 400;">
                  <span>Henry Monro</span>
                </div>
              </div>
            </div>
            <!-- Add more carousel items with your content -->
            <div class="carousel-item">
              <div class="row">
                <div class="col-sm-12 d-flex" style="justify-content: center;">
                  <img src="./assets/start.png" alt="">
                  <img src="./assets/start.png" alt="">
                  <img src="./assets/start.png" alt="">
                  <img src="./assets/start.png" alt="">
                  <img src="./assets/start.png" alt="">
                  <img src="./assets/start.png" alt="">
                </div>
              </div>
              <p>"Savoring the rich aroma and distinct flavors, your favorite coffee spot becomes a haven for moments of
                relaxation and inspiration."</p>
              <div class="row">
                <div class="col-sm-12 text-center"
                  style="margin-top: 6%; color: #202020; font-size: 18px; font-weight: 400;">
                  <span>Henry Monro</span>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-sm-6">
        <div class="img_left_coffee">

        </div>

      </div>
    </div>
  </div>


  <div class="three_new">
    <div class="row">
      <div class="" style="    width: 6%;
      flex: 0 0 auto;">
        <div class=" left_one">
          <div class="left_title">
            <p>Lisbon Coffee Salon</p>
          </div>
        </div>

      </div>
      <div class="" style="    width: 6%;
      flex: 0 0 auto;">
        <div class=" left_one">
          <div class="left_title">
            <p>Berlin Coffee Roastery</p>
          </div>
        </div>

      </div>
      <div class="" style="    width: 6%;
      flex: 0 0 auto;">
        <div class=" left_one">
          <div class="left_title">
            <p>Amsterdam Coffee Shop</p>
          </div>
        </div>

      </div>
      <div class="col-sm-9" style="border: 1px solid black;">
        <div class="row">
          <div class="col-sm-12 d-flex">
          <div class="col-sm-8" style="margin-top: 9%; margin-left: 6%;">
            <div class="img_three">
              <img src="./assets/three-home-img-15.jpg.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <div class="col-sm-12 right_three_title">
                <p>Amsterdam Centre Coffee</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>



</div>